@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #000051,
  $secondary: #ffb300,
  $surface: color-palette.$grey-700,
  $background: color.adjust(color-palette.$grey-900, $blue: +4),
  $error: color-palette.$red-700,
  $on-primary: #ffffff,
  $on-secondary: #ffffff,
  $on-surface: #ffffff,
);

@use '../app';

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
