@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$indigo-900,
  $secondary: #ffb300,
  $surface: color-palette.$grey-200,
  $background: color-palette.$blue-grey-400,
  $error: color-palette.$red-700,
  $on-primary: #ffffff,
  $on-secondary: #000000,
  $on-surface: #000000,
);

@use '@material/button/index' as mdc-button;
@use './app';

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.button-shaped-round {
  @include mdc-button.shape-radius(999px);
}
